.featuresSection {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featuresContainer {
    color:rgb(120, 120, 120);
    display: flex;
    gap: 1rem;
}

@media (max-width: 600px) {
    .featuresContainer {
        flex-direction: column;
        padding-bottom: 1rem;
    }
}

@media (min-width: 601px) {
    .featuresSection {
        min-height: 80%;
    }
    .featureCard:hover {
        transform: scale(1.05);
    }
}

.featureCard {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.075);
    transition: transform 0.3s ease;
}
.featureCard h3 {
    color:white;
}

.featureCard .icon {
    display: flex;
    color: rgba(137, 43, 226, 0.75);
    justify-content: center;
    width: 100%;
    padding-bottom: 1.5rem;
}