.landingContainer {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .landingContainer {
        padding: 1rem;
        gap: 1rem;
    }
}

@media (min-width: 601px) {
    .landingContainer {
        padding: 0rem 10rem;
    }
}