* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}
body {
    background-color: #05051E;
    font-family: 'Roboto', sans-serif;
    height: -webkit-fill-available;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}